.b {
    border: 2px solid rgb(106, 255, 0);
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



/* ------------------------------------------------ */



body {
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
    background-image: url(/assets/sk2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

/* HEADER E NAV */
header {
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

footer {
    height: 30vh;

    background-color: #121212;
}

footer ul {
    display: flex;
    list-style: none;
}

/* footer ul li {
    margin: 10px;
} */

/* footer ul li a{
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
} */

footer ul li a:hover {
    color: #000;
    background-color: #fff;

}

/* ------- NAV------ */

.bg-nav {
    background-color: #272727;
}

.nav-link {
    color: #ccc !important;
}

.nav-link:hover {
    color: #7a7a7a !important;
}

#logoNav {
    background-image: url(https://elderscrolls.bethesda.net/images/franchise-icon-elderscrolls.svg?b311f6752dbd0cab50f4dbff2a12afcd);
    clip: auto;
    color: transparent;
    display: block;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    width: 0;
    background-position-y: center;
    background-repeat: no-repeat;
    display: block;
    height: 39px;
    margin: 0 16px 0 0;
    order: 0;
    width: 172px;
}

/* -----------------  HOME -------------------- */

#home {
    height: 100vh;
    display: flex;
    align-items: center;
    
}

#home h3 {
    font-size: clamp(1em, 1.5vw, 2em);
}

#home p {
    font-size: clamp(0.6em, 0.7vw, 1.2em);
}



.divCapa {
    background-color: #000;
    border: 1px solid #fff;
}

.divTrailer iframe{
    margin-top: 1em;
}

.tituloTrailer {
    padding: 1em 0 1em 0;
    border-bottom: 2px solid #ccc;
    color: #eee;
    letter-spacing: 0.080em;
    text-transform: uppercase
}

.tituloTrailer p {
    text-transform: none;
}


/* -------------- CARDS ------------------- */

.card {
    background-color: #000 !important;
    color: #fff !important;
}


.bg-content {
    background-color: rgba(0, 0, 0, 0.8);
}

.mainHomeTitle {
    border-bottom: 2px solid #fff;
}

@media (min-width:240px) and (max-width:400px) {
    iframe {
        width: 100%;
        height: 200px;
    }
}

