


body {
    background-color: #eee;
    background-image: none;
}


/* WIKI PAGE */
.titulo {
    border-bottom: 1px solid #000;
}

.wiki {
    background-color: #272727;
}

.mapa {
    border: 1px solid #000;
}

/* LISTA CIDADES DE SKYRIM */
.listLocations {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;

}

.itemsLocations {
    padding: 10px 20px;
    max-width: 200px;
    
}

.linkLocations {
    color: #000;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.linkLocations img {
    margin-right: 10px;
}

.linkLocations:hover {
    color: #ff0000;
}